@import "tailwindcss";

a.active hr{
    display: block;
}


*{
    font-family: outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  @media(max-width: 600px){
    a.active {
        background-color: black;
        color: white;
    }
  }